<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>

<div class="shapka">Это сайт!</div>
<div class="mainmenu">
    <ul>
        <li><a href="">Главная</a></li>
        <li><a href="">О себе</a></li>
        <li><a href="">Контакты</a></li>
    </ul>
</div>
<div class="left"></div>
<div class="right"></div>
<div class="footer">Иванников Алексей. Написать мне на
    <a href="https://e.mail.ru/compose/?to=DarkARN@mail.ru">@mail</a>
    &nbsp;&nbsp;или Вконтакте:
    <a class="vk" href="https://new.vk.com/darkarn"></a></div>

</body>
</html>